#page{
    width: 100vw;
    height: 100vh;
    background-color: pink;
}
#title{
    width: 100vw;
    height: 10vh;
  text-align: center;
  margin-bottom: 5vh;
}
p{
    margin-bottom: 20px;
}
#signature{
    float: right;
    font-style: italic;
}
#declaration{
    padding: 20px;
}
