<div id="page">
    <div id="title">
        <h1>Mon petit coeur que j'aime</h1>
    </div>
  <div id="declaration">
    <p>Félicitations d'avoir mené à bien cette mission.</p>
    <p>J'espere que cela t'a plu, je me suis beaucoup amusé à le coder, car je trouvais cela plus original que de simplement te donner tes cadeaux d'anniversaire</p>
    <p>Je voulais egalement te dire que depuis un mois je suis trés heureux lorsque tu es avec moi, et c'est lorsque je suis seul chez moi que je réalise à quel point tu me manque!</p>
    <p>Avec toi tout est plus fort, plus rapide et tellement beau, agréable. Mais aussi tellement inhabituel!</p>
    <p>Tu es une personne eceptionnelle, je t'aime fort </p>
    <p id="signature">Ton homme</p>
  </div>
</div>