#stage{
    width: 100vw;
    height: 90vh;
    background-image: url("https://zupimages.net/up/23/32/wuoa.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: lightgreen;
}
#topscreen{
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
}